# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan output files
*.tfplan

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Variable files that often contain secrets
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json

# Keep dependency lock file committed
!.terraform.lock.hcl

.intersight*

.DS_Store